<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>MN Public Salaries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/analytics.js"></script>
    {% include "home/favicon.html" %}
    <!-- styles -->
    <style>
      body { padding-top: 40px; }
    </style>
  </head>
  <body>
    {% include "home/navbar.html" %}
    {% block body %}{% endblock%}
    {% include "home/footer.html" %}
  </body>
</html>
