{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="page-header">
    <h1> We need your help! </h1>
  </div>
  <h2> Gather data </h2>
  <p> In order to gather salary information for all public employees for the
    state of Minnesota we need to personally reach out to all 87 counties,
    854 cities, and numerous other government organizations. We are trying to
    get the big ones, but we have a small team and limited resources. If you
    see that we don't have a government entitiy that you believe
    should be here, take action. Get in contact with them! Remember all of
    this data is public and this website was started on the principle that
    it isn't enough for information to be "public", it must be available.
  </p>
  <p>
    We have a template email that you can use over on our
    <a href="https://github.com/OpenTwinCities/mnpay/wiki/Gathering-Data">GitHub Wiki</a>
    as well as some more information about how this data really is public. If
    you do successfully get any new data sets, please send them our way so we
    can share them here.
  </p>
  <h2> Developing new features </h2>
  <p>
    MN pay is an open source project. If you have some technical skills and want to
    improve it then head over to our <a href="">GitHub Repo</a>. We have a list
    of improvements that we would like to make and we need volunteers to make it
    happen. If you have any ideas submit an issue on GibHub and send us a pull
    request with your solution.
  </p>
</div>
{% endblock %}
