<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>MN Public Salaries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Minnesota Public Salaries</h1>
      </div>
      <form class="form-horizontal" method="get">
        <div class="form-group">
          <label class="control-label col-sm-2">First name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="first_name" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Middle name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="middle_name" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Last name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="last_name" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Agency:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="agency" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Dept:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="dept" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Title:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title" value="">
          </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <table class="table">
        <tbody>
          <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Agency</th>
            <th>Dept</th>
            <th>Title</th>
            <th>Salary</th>
            <th>Year</th>
          </tr>
          {% for item in data %}
          <tr>
            <td>
              {{ item.first_name }}
            </td>
            <td>
              {{ item.middle_name }}
            </td>
            <td>
              {{ item.last_name }}
            </td>
            <td>
              {{ item.agency }}
            </td>
            <td>
              {{ item.dept }}
            </td>
            <td>
              {{ item.title }}
            </td>
            <td>
              {{ item.wages }}
            </td>
            <td>
              {{ item.year }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{{next_url}}"> next </a>
    </div>
    <div id="app"></div>
  </body>
</html>
