<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>MN Public Salaries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Minnesota Public Salaries</h1>
      </div>
      <form class="form-horizontal" method="get">
        <div class="form-group">
          <label class="control-label col-sm-2">First name:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="first_name" value="{{first_name}}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Middle name:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="middle_name" value="{{middle_name}}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Last name:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="last_name" value="{{last_name}}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Agency:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="agency" value="{{agency}}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Dept:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="dept" value="{{dept}}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Title:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="title" value="{{title}}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-5 col-sm-offset-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
          </div>
        </div>
      </form>
      <table class="table">
        <tbody>
          <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Agency</th>
            <th>Dept</th>
            <th>Title</th>
            <th>Salary</th>
            <th>Year</th>
          </tr>
          {% for item in data %}
          <tr>
            <td>
              {{ item.first_name }}
            </td>
            <td>
              {{ item.middle_name }}
            </td>
            <td>
              {{ item.last_name }}
            </td>
            <td>
              {{ item.agency }}
            </td>
            <td>
              {{ item.dept }}
            </td>
            <td>
              {{ item.title }}
            </td>
            <td>
              {{ "${:.2f}".format(item.wages) }}
            </td>
            <td>
              {{ item.year }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav aria-label="...">
        <ul class="pager">
          {% if prev_url is defined %}
            <li><a href="{{prev_url}}">Previous</a></li>
          {% endif %}
          {% if next_url is defined %}
            <li><a href="{{next_url}}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </body>
</html>
